@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    

}

a {
    text-decoration: none;
    color: inherit;
}



.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */
#navbar {
    width: 100%;
    background: transparent;
    color: #eee;
    height: 80px;
    position: fixed;
    z-index: 0.5;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li {
    padding: 10px;
    border-radius: 20px;
}
#navbar-items li:hover {
    background-color:#a31f44;    
    transition: 0.7s;
}
/* Showcase */
#showcase {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('showcase.jpg') no-repeat center center/cover;

    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}

/* btn */
.btn{
    position:relative;
    cursor: pointer;
}
.btn:hover .play{
    background: #871a38;
    transition: 0.5s;
}
.btn .play{
    width: 150px;
    height: 150px;
    /* z-index: 3; */
    background:#a31f44;
    /* margin: 200px 780px; */
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #731e3c; 
}
.btn.active  .play{
    box-shadow: 0 0 0 150vh #a31f44;
    color: transparent;
    z-index:1;
    transition: 0.5s;
} 
.btn .play::before{
    content: '';
    position: absolute;
    border: 25px solid #fff;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);
    
}  
#showcase-container p{
    margin: 10px -70px;
    /* background: #2e121c; */
    font-size: 1em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}

.clip{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
    transition: 0.5s;
}
.clip video{
    max-width:900px;
    outline:none;
    border: 10px solid #fff;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}


.clip.active{
    transition-delay: 0.5s;
    transform: translate(-50%,-50%) scale(1);
}

.clip .close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}





/* Testimonials */
.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #000000;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.7); 
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}
#testimonials .testimonial:hover {
    transform: scale(1.05);
    transition: 0.5s;
    color:#449fa6;
}

#testimonials {
    width: 100%;
    background-image:linear-gradient(to right, #352c82,#2e121c);
    color: #eee;
    padding: 50px;
}

#testimonials-container {
    width: 80%;    
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial .testimonial-image {
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

.box-btn{
    height: 100px;
    width: 150px;
    text-align: center;
}
.play-aula{
    background: none;
}

.btn-aula{
    position: relative;
    cursor:pointer;
}

.btn-aula{    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #449fa6;
    align-items: center;
    box-shadow: 0 15px 25px #38868b; 
    
}

.btn-aula:hover{
    background: #326d7c;
    transition: 0.5s;
}

.btn-aula a{
    font-size: 1.2em;
}




.btn-aula2{
    position: relative;
    cursor:pointer;
}

.btn-aula2{    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #d8c451;
    align-items: center;
    box-shadow: 0 15px 25px #b1a041; 
    
}

.btn-aula2:hover{
    background: #ac9a37;
    transition: 0.5s;
}

.btn-aula2 a{
    font-size: 1.2em;
}





.btn-aula3{
    position: relative;
    cursor:pointer;
}

.btn-aula3{    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #d3245f;
    align-items: center;
    box-shadow: 0 15px 25px #b42253; 
    
}

.btn-aula3:hover{
    background: #a8224f;
    transition: 0.5s;
}

.btn-aula3 a{
    font-size: 1.2em;
}



/* Footer */
#footer {
    background: rgb(0, 0, 0);
    color: #eee;
    padding: 30px;
    text-align: center;
}